* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 20px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: wheat;
  z-index: 1;
}
.navbar__s1__title {
  color: #a435f0;
}
.navbar__s2 {
  padding: 20px;
  width: 70%;
  border-radius: 50px;
  border: solid black 1px;
  display: flex;
  gap: 20px;
}

.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 20px;
}

.mylearning {
  position: relative;
  cursor: pointer;
}
.mylearning__popup {
  position: absolute;
  border: solid black 2px;
  border-radius: 10px;
  background-color: lime;
  padding: 5px;
  width: fit-content;
  top: 200%;
  right: 0;
  display: none;
}
.mylearning:hover .mylearning__popup {
  display: block;
}
.navbar__s4 {
  display: none;
}
.catagories {
  display: flex;
  border-bottom: solid black 1px;
  padding: 20px;
  justify-content: space-around;
}
.catagories p {
  background-color: #a435f0;
  padding: 20px;
  border-radius: 30px;
  border: solid 1px #a435f0;
  color: white;
  cursor: pointer;
}
.catagories p:hover {
  transition: 1s;
  background-color: transparent;
  color: black;
  border: solid 1px #a435f0;
}
.sale-image {
  position: relative;
}
.sale-image__offer {
  width: 25%;
  position: absolute;
  border: solid white 2px;
  color: black;
  background-color: #e290ac;
  top: 20%;
  left: 15%;
  padding: 25px;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.sale-image img {
  width: 98%;
  display: inline;
  margin: 10px;
}
.recommended {
  margin-top: 20px;
  padding: 20px;
}

.recommended__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course-card {
  flex-grow: 1;
  flex-basis: 20%;
  margin: 10px;
  margin-top: 5px;
}
.course-card img {
  width: 100%;
  height: 75%;
  padding: 5px;
}
.topic {
  margin-top: 30px;
  padding: 10px;
}
.topic__container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.topic__container p {
  text-align: center;
  border: solid gray 2px;
  flex-grow: 1;
  padding: 10px;
  flex-basis: 30%;
}
.popular {
  margin-top: 20px;
 
}
.popular__container {
  margin: 20px;
   display: flex;
   gap:40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer {
  margin-top: 40px;
  padding: 30px;
  background: black;
  color: whitesmoke;
}
.footer__one {
  display: flex;
  gap: 10px;
}
.footer__one p {
  margin: 20px;
}
.footer__two {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
/* Media queries */
@media screen and (max-width: 900px) {
  body {
    font-size: 10px;
  }
  .course-card {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 8px;
  }
  .course-card {
    flex-basis: 40%;
  }
  .catagories {
    display: none;
  }
  .navbar__s3 {
    display: none;
  }
  .navbar__s4 {
    display: block;
  }
}
